.body {
    height: 100vh;
    padding: 10rem 0;
}

.title {
    text-align: center;
}

.divider {
    margin: 0 1rem;
}

.loginButton,
.signupButton {
    width: 100%;
}

.signupButton {
    margin-top: .5rem;
}