@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    display: flex;
    min-width: 100%;
    flex-direction: column;
    justify-content: center;

    @media screen and (width >=600px) {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    @media screen and (width >=800px) {
        padding-right: 4rem;
        padding-left: 4rem;
    }

    @media screen and (width >=1200px) {
        padding-right: 16rem;
        padding-left: 16rem;
    }
}