:root {
	--primary: #9ccc65;
	--secondary: #f4f5f6;
	--background: white;
	--borders: #e4e4e4;
	--text: #606c76;
}

[data-theme='dark'] {
	.profile {
		filter: invert(1);
	}

	--primary: #388e3c;
	--secondary: #1c1c1c;
	--background: #212123;
	--borders: #3c3838;
	--text: rgb(236, 235, 235);
}

@import './colors.scss';

@import './global/body.scss';
@import './global/link.scss';
@import './global/table.scss';
@import './global/button.scss';
