.body {
	background: var(--secondary);
	margin-top: 6rem;

	text-align: center;
}

.content {
	padding: 7rem 3rem;
}

.profile {
	margin: auto;
	margin-bottom: 3rem;
}

.subtitle {
	margin-top: 2rem;
	margin-bottom: 4rem;
}

.projectsHeader {
	text-align: center;
	margin-bottom: 3rem;
}

.projects {
	margin-top: 3rem;
}
