.body {
	padding-top: 6rem;
}

.content {
	height: calc(100vh - 6rem);
	padding-top: 5rem;

	text-align: center;

	display: flex;
	justify-content: center;
}

.table {
	background-color: var(--secondary);
	padding: 3rem;

	font-family: 'Roboto';

	border-radius: 7.5px;
	border: var(--borders) 1px solid;

	margin: 0;
}

.tableHeader {
	font-family: 'Raleway';
	text-align: left;
}

.weekDays {
	text-align: center;
}

.error {
	button {
		margin-right: 2rem;
	}
}
