.contact {
  .header {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 3rem;
    border-top: 0.1rem solid #f4f5f6;
    padding-top: 4rem;
  }

  font-family: "Raleway";

  #message {
    resize: none;
    height: 10rem;
  }
}
