.landing {
  background: var(--secondary);
  margin-top: 6rem;

  .container {
    padding: 7rem 3rem;
  }

  .profile {
    height: 10rem;
    width: 10rem;
    margin: auto;
    margin-bottom: 3rem;
    display: block;
  }

  text-align: center;
  font-family: "Raleway";

  .title {
    font-size: 4rem;
    display: block;
  }

  .subtitle {
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: block;
    font-size: 2rem;
  }
}
