@import '../styles/colors.scss';

.body {
	background-color: $bg-secondary;
	border-top: 0.1rem solid $borders;

	padding: 3rem;
}

.branding {
	display: inline-block;
	font-size: 2rem;
	margin-left: 1rem;
	vertical-align: top;
}

.socials {
	margin-left: 4rem;
	display: inline-block;
	height: 100%;
	padding: 1rem 0;
}

.socialLink {
	height: 3rem;
	width: 3rem;
	margin-right: 2rem;
}
