@import '../styles/colors.scss';

.bar {
	z-index: 1;
	background-color: $bg-secondary;
	border-bottom: 0.1rem solid $borders;

	position: fixed;
	top: 0;
	padding: 1.5rem 0;

	width: 100%;
}

.content {
	display: flex;

	align-items: center;
}

.header {
	flex: 1;

	// height: max-content;

	font-size: 2rem;
}

.select {
	width: 7.5rem;
	margin-bottom: 0;

	background-color: $bg-primary;
}

.items {
	display: flex;
	justify-content: center;
	align-items: center;

	a {
		font-size: 1.75rem;
		margin-left: 1rem;
	}
}

.moon,
.sun {
	font-size: 2rem;
	margin: 0.25rem 1.5rem;
	cursor: pointer;
}

.moon {
	display: none;
}

[data-theme='dark'] {
	.sun {
		display: none;
	}

	.moon {
		display: inline-block !important;
	}
}
