.bar {
	z-index: 1;
	background-color: var(--secondary);
	border-bottom: 0.1rem solid var(--borders);

	position: fixed;
	top: 0;
	padding: 1.5rem 0;

	width: 100%;
}

.header {
	font-size: 1.75rem;
}

.items {
	float: right;
	display: flex;
	justify-content: center;

	a {
		margin-left: 1rem;
	}
}

.moon,
.sun {
	font-size: 2rem;
	margin-left: 1rem;
	margin-top: 0.25rem;
	cursor: pointer;
}

.moon {
	display: none;
}

[data-theme='dark'] {
	.sun {
		display: none;
	}

	.moon {
		display: inline-block !important;
	}
}
