.body {
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;
}

.header {
	font-size: 5rem;
}

.subtitle {
	font-size: 3rem;
}

.link {
	margin-top: 1.5rem;
}
