.main {
    padding-top: 10rem;
    margin-bottom: 2rem;
}


.avatar {
    border-radius: 5px;
}

.avatarContainer {
    margin-right: 2rem;
}

.avatarCol {
    display: flex;
    justify-content: right;
}